body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gameView{
  max-width: 100%;
}

.board{
  max-width: 50%;

}

.card{
  max-width: 100%;
}

.plagueCard{
  max-width: 50%
}

.cardInHand{
  max-width: 20%;
  display: inline-block;
}

.boardCountrySlot{
  background-color: green;
  position:absolute;
  width: 4.5%;
  height: 11%;
  z-index: 9;
}

.hand{
  white-space: nowrap;
  max-width:50%
}

.bottomBar{
  max-width: 100%;
  display: inline-block;
}