body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background: url(/public/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fullSize{
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.gameView{
  max-width: 100%;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.proceedButton{
  background-color: rgb(0, 255, 102);
  width: fit-content;
}

.disabledProceedButton{
  background-color: rgb(110, 130, 118);
  width: fit-content;
}

.countryDraftZone{
  position: relative;
  border-radius: 1vw;
  width: 60%;
}

.draftZoneCountrySlot{
  position: absolute;
  width: 20%;
  height: 80%;
  z-index: 9;
}

.draftZoneCountrySlot:hover{
  width:30%;
  height:120%;
  z-index: 100;
  border: 2px solid;
  border-color:gold;
}


.board{
  position: relative;
  height: 10%;
}

.card{
  width: 100%;
  position: relative;
}

.traitCard{
  margin-right: 0.5%;
  margin-left: 0.5%;
  margin-bottom: 0.5%;
  width: 8%;
  display: inline-block;
  border-radius: 10px;
}

.traitCard:hover{
  width: 10%;
  border: 2px solid;
  border-color:gold;
}

.eventCard{
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 8%;
  display: inline-block;
  border-radius: 10px;
}

.eventCard:hover{
  width: 10%;
  border: 2px solid;
  border-color:gold;
}



.boardDNASlot{
  position: absolute;
  width: 2%;
  height: 2.8%;
  z-index: 10;
}


.boardCountrySlot{
  background-color: green;
  position: absolute;
  width: 9.2%;
  height: 17.5%;
  z-index: 9;
}

.plagueCard{
  float: left;
  position:absolute;
  bottom: 0;
  width: 80%;
  height: 60%;
}

.plagueCardTraitSlot{
  position: absolute;
  width: 19.0%;
  height: 47.5%;
  width: "16.0%";
  min-height: "37%";
  z-index: 9;
}

.hand{
  white-space: nowrap;
}

.discardBrowser {
  position: absolute;
  z-index: 9999;
  border: 4px solid;
  border-radius: 2%;
  border-color: rgb(255, 145, 0);
  padding: 3px;
  min-width: 60%;
  min-height: 60%;
  color: antiquewhite;
  font-weight: bolder;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.countryDiscardBrowser {
  background-color: rgb(169, 14, 14);
}

.eventDiscardBrowser {
  background-color: rgb(30, 128, 92);
}

.hexagon {
  rotate: 30deg;
  display: flex;
  width: 20%;
  height: 15%;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  float: left;
  position: absolute;
  z-index: 10;
  background-size: cover;
}

.joinGameLobby{
  max-width: 100%;
}

.joinGameLobby::after{
  content: "";
  clear: both;
  display: table;
}

.lobbyButton{
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(219, 163, 54, 0.6) 0%, rgba(146, 103, 20, 0) 100%);
  border: 0.1vw solid rgba(0, 0, 0, 0.3);
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Cambria';
  font-style: normal;
  font-weight: 400;
  text-size-adjust: auto;
  font-size: 2vw;
  line-height: auto;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.05em;
  vertical-align: middle;
  user-select: none;

  color: #FFFFFF;

}

.lobbyButton:hover{
  border: 2px solid;
}

.lobbyInput{
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(219, 54, 54, 0.6) 0%, rgba(219, 163, 54, 0) 100%);
  border: 0.1vw solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.lobbyInput input{
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 1.5vw;
  text-align: center;

  font-family: 'Cambria';
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: auto;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #FFFFFF;
  }

  .plagueIncTitle {
    font-family: 'Corbel';
    font-style: normal;
    font-weight: 450;
    font-size: 7vw;
    line-height: auto;
    /* identical to box height */

    line-height: auto;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.05em;
    vertical-align: middle;
    user-select: none;

    color: #FFFFFF;

}

.plagueIncSubTitle{
  font-family: 'Cambria';
  font-style: normal;
  font-weight: 400;
  font-size: 4vw;
  line-height: auto;
  line-height: 20%;
  text-align: center;
  white-space: nowrap;
  font-style: italic;
  letter-spacing: 0.05em;
  vertical-align: middle;
  user-select: none;

  color: #e39bad;

  text-shadow: 0px 0.2vw 0.2vw rgba(0, 0, 0, 0.25);
}

.playerBox{
  box-sizing: border-box;

  position: absolute;
  width: 10vw;
  height: 10vw;

  background-size: cover;
  
  border-radius: 1vw;
}

.lobbyIdTag{
  font-family: 'Cambria';
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    line-height: auto;
    
    
    /* identical to box height */

    line-height: auto;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.05em;
    vertical-align: middle;
    user-select: none;

    color: #FFFFFF;

}

.lobbyIdBox{
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(219, 54, 54, 0.6) 0%, rgba(219, 163, 54, 0) 100%);
  border: 0.1vw solid rgba(0, 0, 0, 0.3);
  border-radius: 1vw;
  align-items: center;

  font-family: 'Cambria';
  font-style: normal;
  font-weight: 400;
  text-size-adjust: auto;
  font-size: 1.5vw;
  line-height: 2.5vw;
  text-align: center;
  letter-spacing: 0.05em;

  color: #FFFFFF;
}

.joinGameButton{
  --color: rgba(219, 163, 54, 0.6);
  box-sizing: border-box;
  position: absolute;
  width: 10vw;
  height: 4vw;
  background: linear-gradient(180deg, var(--color) 0%, rgba(146, 103, 20, 0) 100%);
  border: 0.1vw solid rgba(0, 0, 0, 0.3);
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Cambria';
  font-style: normal;
  font-weight: 400;
  text-size-adjust: auto;
  font-size: 1vw;
  line-height: auto;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.05em;
  vertical-align: middle;
  user-select: none;

  color: #FFFFFF;

}

.joinGameButton:hover{
  border: 3px solid;
}

.curvedBorder{
  --borderRadius: 1vw;
  border-radius: var(--borderRadius);
}

.playStateDisplay{
  font-family: 'Cambria';
  font-style: normal;
  font-weight: 400;
  text-size-adjust: auto;
  font-size: 1vw;
  line-height: auto;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.05em;
  vertical-align: middle;
  user-select: none;

  color: #FFFFFF;
}

.disabled{
  --color: grey;
}

.countryDiscardPile{
  position: absolute;
  border: 2px solid;
  border-color:rgb(175, 39, 39);
  background-color:rgb(95, 0, 0);
  width: 25%;
  height: 88%;
  z-index: 15;
  padding-top: 1.5%;
  border-radius: 5%;
}

.countryDiscardPile:hover{
  border-color:rgb(235, 99, 99);
}

.eventDiscardPile{
  position: absolute;
  border: 2px solid;
  border-color:rgb(51, 133, 107);
  background-color: rgb(1, 63, 37);
  width: 25%;
  height: 88%;
  z-index: 15;
  padding-top: 1.5%;
  border-radius: 5%;
}

.eventDiscardPile:hover{
  border-color:rgb(91, 173, 147);
}

.tooltip {
  position: absolute;
  display: inline-block;
  border-bottom: 1px dotted black;
  width: 100%;
  height: 100%;
  opacity: 100;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: rgb(225, 115, 115);
  color: #211d1d;
  text-align: center;
  border-radius: 6px;
  border-color: #000000;
  border: 3px solid;
  padding: 5px 0;
  position: absolute;
  z-index: 100;
  opacity: 100;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 100;
  left: 0%;
  top: 100%;
}

.pulseAnim {
  --r: 255;
  --g: 0;
  --b: 0;
  box-shadow: 0 0 0 0 rgba(var(--r), var(--g), var(--b), 1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(var(--r), var(--g), var(--b), 0.7);
	}

	70% {
		box-shadow: 0 0 0 10px rgba(var(--r), var(--g), var(--b), 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(var(--r), var(--g), var(--b), 0);
	}
}