body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img{
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gameView{
  max-width: 100%;
}

.board{
  max-width: 40%;
  margin: auto;
  position: relative;

}

.card{
  max-width: 100%;
}

.plagueCard{
  width: 30%;
  height: auto;
  float: left;
}

.cardInHand{
  max-width: 20%;
  display: inline-block;
}

.boardCountrySlot{
  background-color: green;
  position: absolute;
  width: 9.2%;
  height: 17.5%;
  z-index: 9;
}

.hand{
  white-space: nowrap;
  max-width:50%;
  float: left;
}

.bottomBar{
    max-width: 100%;
    display: inline-block;
}